@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root{
    --clr-lightblue: #64a5f5;
    --clr-blue: #2585fa;
}

body{
    min-height: 100vh;
}

nav
{
    box-shadow: 0 2px 4px rgba(39, 30, 30, 0.3) !important;
    /* background-color: #00000070 !important; */
    position: relative !important;
    height: 75px;
    padding: 15px 50px !important;
}

.nav-container {
   width: 100% !important;
}

.nav-item {
    margin-right: 30px;
}

.btn-info {
    height: 36px !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    font-weight: 600;
    padding: 5px 10px 10px 10px !important;
    color: white;
    margin-top: 1%;
    background-color: inherit !important;
    border: 2px solid #2585fa !important;
    position: absolute;
    right: 0 !important;
    top: 4.5px;
    margin-right: 5% !important;
}

button.btn-info:hover {
    color: white !important;
    background-color: #2585fa !important;
    cursor: pointer !important;
    padding: 7.5px 10px 10px 10px !important;
}

li.nav-item a.nav-link:hover{
    color: #64a5f5 !important;
    cursor: pointer !important;
}

li.active {
    background-color: inherit !important;
}

.nav-item li{
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    /* color: #fff !important; */
}

.nav-link{
    margin-top: 2%;
}
/* ============================Section Room Detail=================================== */

#room_detail{
    margin-top: 2%;
}

.container-fluid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

ul{
    list-style-type:none;
}

img {
    width: 100%;
}

h4{
    display: inline-block;
    margin-bottom: 20px !important;
    margin-left: 18% !important;
}

.card-body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 0px;
}

.card-body .btn, #btnFeedback{
    width: 100%;
    background-color: #64a5f5;
}

.btn:hover,
#btnFeedback:hover{
    background-color: #2585fa !important;
    outline: none !important;
    border-style: none !important;
}

.card {
    margin-bottom: 5%;
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgba(39, 30, 30, 0.2) !important;

}

ul.desc{
    margin: 0px 0px 5px!important;
    padding: 0px 0px 0px 5px !important;
}

.cont {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 10px 16px 10px 16px !important;
}

.cont-detail {
    width: 100%;
    margin-left: 40px;

}

.cont-label {
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    color :#767474;
    width: 20%;
}

.l-label {
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color :#E81A28;
    width: 100% !important;
    flex-wrap: nowrap !important;
    display: flex !important;
}

.s-label {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color :#E81A28;
}

.cont-text {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color :black;
}

#btn1 {
    width: 90px;
    height: inherit !important;
    padding: 8px;
    margin-right: 12px;
    /* border: 0.1px solid #ddd; */
    margin-top: 0px !important;
}

#btn1 span{
    display: block;
}

#btn1:hover, #btn1:active, #btn1:focus {
    outline: none !important;
    border-style: none !important;
    background-color: #ddd !important;
    color: red;
}

/* ============================Rating=================================== */

fieldset, label {
    margin: 2px 0 0px 0 !important; padding: 0px !important;
    /* background-color: #2585fa; */
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 0px 10px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


/* ============================Section Image gallery=================================== */
/* .product-slider-section {
    width: 100%;
    display: ;
} */

.product-slider-section .carousel-inner{
    cursor: crosshair;
}

.product-slider-section .carousel-indicators {
    overflow-y: hidden;
    overflow-x: auto;
}

.product-slider-section .carousel-indicators li{
    border: 2px solid transparent;
    cursor: pointer;
    float: left;
    height: auto;
    margin: 10px 0 12px 0;
    padding: 5px;
    text-align: center;
    text-indent: unset;
    width: 185px;
}

.product-slider-section .carousel-indicators li.active{
    border: 2px solid #ddd;

}

.product-slider-section .carousel-indicators li .data-slide-image {
    width: 100px;
    margin: 0 auto;
}




@media only screen and (max-device-width: 375px){
    body{
        height: 100vh;
        /* overflow: hidden; */
        width: 100vw !important;
    }

    nav.navbar{
        padding: 15px 20px !important;
    }

    li.nb-item{
        z-index: 9999 !important;
        background-color: #353a3e !important;
        padding: 5px 10px 10px 10px;
        font-size: 14px;
        
    }

    .btn-info{
        margin-top: 4%;
    }

    .container-fluid{
        /* display: block !important; */
        padding: 0px 0px !important;
    }

    /* .card{
        width: 100% !important;

    }  */

    h4{
        font-size: larger !important;
        margin-left: 15px !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }

    .card-body p{
        font-size: 15px !important;
    }

    p.card-text{
        font-size: 14px !important;
    }
    ul.desc {
        font-size: 12px !important;
        margin: 0px 0px 5px!important;
        padding: 0px 0px 0px 5px;
    }

    .cont-text{
        font-size: 13px !important;
    }

    .container-fluid .row{
        display: block !important;
        margin: 0px  !important;
    }

    .col-8 .card {
        width:100% !important;
        left: 0px !important;
    }

    .col-8{
        padding: 0px !important;
        max-width: 92% !important;
        margin-left: 15px !important;
    }

    .col-4 .card{
        width: 100% !important;
    }

    .col-4{
        padding: 0px !important;
        margin-left: 15px !important;
        margin-bottom: 5% !important;        
        max-width: 92% !important;
    }

    .card-body.product-slider-section{
        padding: 10px !important;
    }

    .col-12 {
        padding: 0px 0px !important;
    }

    .col-md-2{
        padding: 0px 15px 0px 0px!important;
        width: 70px !important;
    }
    .col-md-2 img{
        width: 24px !important;
    }

    .col-md-2 .text-secondary{
        font-size: 8px !important;
    }
    .col-md-10{
        padding: 0px 0px !important;
    }

    .col-md-10 a{
        font-size: 10px !important;
    }

    .col-md-10 span{
        font-size: 9px !important;
    }

    p.comment{
        font-size: 10px !important;
        margin: 0px 0px 0px !important;
    }

    #rating.tab-pane .row {
        
        display: flex !important;
        flex-wrap: nowrap !important;
        /* margin-right: -15px;
        margin-left: -15px; */
    }

    #rating{
        padding: 0px !important;
    }

    label.feedback {
        font-size: 12px !important;
    }

    button#btnFeedback{
        font-size: 13px !important;
    }

    textarea#feedback{
        font-size: 12px !important;
        height: 50px !important;
    }

    .tab-pane .row .card {
        margin: 0px 0px 15px 0px !important;

    }

    li.list-group-item{
        padding: 9px 9px;
    }

    li#list-rate{
        padding: 0px 15px;
    }

    div.form-group {
        margin: 0px 0px 10px !important;
    }

 }

